.navbar {
    background-color: #007F73;
    color: #FFF455;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar-logo .logo {
    width: 40px;
    height: auto;
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-link:hover {
    color: #00bcd4;
}

.navbar-link i {
    font-size: 18px;
}

/* Mobile Styles */
.navbar-toggle-button {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #444;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 5px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}
