<h1>Archive</h1>
<% if (locals.posts.length > 0) { %> 
    <% posts.forEach(post => { %>

        <%- include("../partials/post-edit.ejs", { post: post }) %>
    
    <% }); %>    <% } else { %>
        <p class="main-text">[ No posts in the archive. ]</p>
    <% } %> 

