<h1>Archive</h1>
<% posts.forEach(post => { %>

<div class="post-container">
    <h3 class="post-title"><%= post.title %></h3>
    <p class="post-body">
        <%= post.body %>
    </p>
    <p class="post-date">
        <%= "Posted on: " + post.date %>
    </p>
</div>

<% }); %>
