<h1>Kablam Games</h1>
<h2 class="main-title">Welcome</h2>
<p class="main-text">
    Our flagship game, Board-Lord, is now live! Dive into a world of strategy and tactics as you dominate the board, build your empire, and outwit your opponents. But that’s just the beginning—Kablam Games has many more exciting projects in the pipeline, each designed to challenge your mind and spark your creativity. Stay tuned as we continue to craft unique, tile-based experiences that bring the thrill of classic gaming into the modern era.
</p>
<p class="main-text">
    At Kablam Games, we’re inspired by the golden age of strategy games from the 90s, an era of depth and challenge. We’re on a mission to deliver that same level of engaging, non-casual gameplay—but with a modern twist that fits into today’s busy schedules. It’s all about going back to basics, with games that are easy to pick up but hard to master. Join us as we bring strategic fun to your fingertips, one tile at a time.
</p>
<h2 class="main-title">Most Recent Post</h2>

<%- include("../partials/post.ejs", { lastPost: lastPost }) %>



